.header__navlink {
  align-content: center;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;

  transition: opacity .5s ease;
}

.header__navlink:hover {
  opacity: 0.6;
}

@media screen and (max-width: 586px) {
  .header__navlink {
    font-size: 14px;
  }
}