.card__title {
  max-width: 190px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 25px auto 31px 21px;
}