.profile__about {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  padding-top: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1140px) {
  .profile__about {
    font-size: 16px;
    line-height: 1.20;
  }
}

@media screen and (max-width: 984px) {
  .profile__about {
    font-size: 14px;
    text-align: start;
  }
}

@media screen and (max-width: 568px) {
  .profile__about {
    line-height: 1.21;
    padding-top: 14px;
    text-align: center;
  }
}